body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  font-family: "Barlow Condensed", "Alfa Slab OneAvenir Condensed Heavy", "Droid Sans", sans-serif;
}

h2,
h3,
p {
  font-family: "Le Monde Livre", Georgia, "Droid Serif", sans-serif;
}

div.header {
  margin: 0;
  padding: 10px 30px;
  border: 0;
  background: #000;
}

div.header p {
  color: #fff;
  font-family: "Barlow Condensed", "Alfa Slab OneAvenir Condensed Heavy", "Droid Sans", sans-serif;
  font-weight: normal;
}

div.wrapper {
  padding: 0 30px;
}

div.breadcrumb {
  margin: 0;
  padding: 5px 30px;
  background: #ffd54f;
  color: #000;
}

div.breadcrumb p a {
  color: #000 !important;
}

div.logout {
  background: #e4b429;
  border: 2px #ffd54f solid;
}

table {
  width: 100%;
  margin: 0;
  border: 0;
  text-align: left;
}

th {
  background: #ffa;
  border: 0;
  font-family: "Barlow Condensed", "Alfa Slab OneAvenir Condensed Heavy", "Droid Sans", sans-serif;
  padding: 10px 25px;
  text-align: left;
}

tr.r0 {
  background: none;
}

td {
  padding: 10px 25px;
  border-right: 0;
  border-left: 0;
  text-align: left;
}

.green-bg {
  background: rgb(34 139 34 / 80%);
}

.yellow-bg {
  background: rgb(255 255 0 / 60%);
}

.orange-bg {
  background: rgb(255 165 0 / 60%);
}

.red-bg {
  background: rgb(255 0 0 / 60%);
}

.gray-bg {
  background: rgb(150 150 150 / 60%);
}
