body
{
    margin: 0;
    font-family: Georgia, "Droid Serif", "Liberation Serif";
}

.wrapper
{
    padding: 0 30px;
}

div.header
{
    margin: 0;
    padding: 10px 30px;
    border: 0;
    background: #000;
}

div.header p 
{
    color: #FFF;
    font-family: 'Alfa Slab One', Impact, "Droid Sans", Ubuntu, "Liberation Sans", sans-serif;
    font-weight: normal;
}

div.breadcrumb
{
    margin: 0;
    padding: 5px 30px;
    background: #FFD54F;
    color: #000;
}

div.breadcrumb p a
{
    color: #000 !important;
}

div.logout
{
    background: #E4B429;
    border: 2px #FFD54F solid;        
}

table
{
    width:100%;
    margin: 0;
    border: 0;
    text-align:left;
}       

th 
{
    padding: 10px 25px;
    background: #FFFFAA;
    border: 0;
    text-align: left;
}

tr
{
}

tr.r0
{
    background: none;
}

td
{
    padding: 10px 25px;
    border-right: 0;
    border-left: 0;
    text-align:left;
}

a:link 
{
}


.green-bg
{
    background: rgba(34,139,34,0.8);
}

.yellow-bg
{
    background: rgba(255,255,0,.6);
}

.orange-bg
{
    background: rgba(255,165,0,.6);
}

.red-bg
{
    background: rgba(255,0,0,.6);
}

.gray-bg
{
    background: rgba(150,150,150,.6);
}