@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

body
{
    margin: 0;
    font-family: Georgia, "Droid Serif", "Liberation Serif";
}

.wrapper
{
    padding: 0 30px;
}

div.header
{
    margin: 0;
    padding: 10px 30px;
    border: 0;
    background: #000;
}

div.header p 
{
    color: #FFF;
    font-family: 'Alfa Slab One', Impact, "Droid Sans", Ubuntu, "Liberation Sans", sans-serif;
    font-weight: normal;
}

div.breadcrumb
{
    margin: 0;
    padding: 5px 30px;
    background: #FFD54F;
    color: #000;
}

div.logout
{
    background: #E4B429;
    border: 2px #FFD54F solid;        
}

table
{
    width:100%;
    margin: 0;
    border: 0;
    text-align:left;
}       

th 
{
    padding: 10px 25px;
    background: #FFFFAA;
    border: 0;
    text-align: left;
}

tr
{
}

tr.r0
{
    background: none;
}

td
{
    padding: 10px 25px;
    border-right: 0;
    border-left: 0;
    text-align:left;
}

a:link 
{
}
